
Button {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-font-family: "Viner Hand ITC";
    -fx-text-fill: #d3bb16;
    -fx-pref-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: none;
}
Button:hover{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-font-family: "Viner Hand ITC";
    -fx-text-fill: #082521;
    -fx-pref-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: none;

}

TextField{
    -fx-max-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: white;
}

Label{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: "Viner Hand ITC";
    -fx-text-fill: #d3bb16;
}
#pane{
    -fx-background-size: 1200 650;
    -fx-background-position: center center;
}
.primary-btn{
    -fx-background-color: #4164E2;
    -fx-text-fill: white;
}

.second-btn{
    -fx-border-width: 1;
    -fx-border-color: #4164E2;
    -fx-text-fill: #4164E2;
}

.third-btn {
    -fx-background-color: #b8eac6;
    -fx-border-width: 1;
    -fx-border-color: #242825;
    -fx-text-fill: #0f1010;
}

#main-menu{
    -fx-background-image: url("../Media/MenuBackground/mainbackground.jpg");
    -fx-background-size: 1200 650;
}
#register-menu{
    -fx-background-image: url("../Media/MenuBackground/background.jpg");
    -fx-background-size: 1200 650;
}
#register-menu{
    -fx-background-image: url("../Media/MenuBackground/background.jpg");
    -fx-background-size: 1200 650;
}
.menu-bar{
    -fx-background-color:transparent;
    -fx-background-position: center center;
}
#title{
    -fx-font-size: 50;
    -fx-font-weight: bold;
}
#vbox_style {
    -fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 3;
}
/*#menu{*/
/*    -fx-background-image: url("../pictures/menu_background/gameMenu.jpg");*/
/*    -fx-background-size: 1200 650;*/
/*}*/
#error{
    -fx-font-size: 27;
    -fx-font-weight: bold;
    -fx-text-fill: #fa0202;
}

Text{
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-text-fill: #efcf05;
}

.choiceBox {
    -fx-pref-width: 10;
    -fx-pref-height: 10;
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-font-family: "Viner Hand ITC";
    -fx-text-fill: #d3bb16;
    -fx-background-color: #2f342f;
}
.check-box{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: "Viner Hand ITC";
    -fx-text-fill: #d3bb16;
}